$primary: (default: #266093, variants: (lightest: 70%, lighter: 50%, light: 30%, dark: -30%, darker: -50%, darkest: -70%));
$secondary: (default: #d6884d, variants: (lightest: 70%, lighter: 50%, light: 30%, dark: -30%, darker: -50%, darkest: -70%));
$tertiary: (default: #7a9c49, variants: (lightest: 70%, lighter: 50%, light: 30%, dark: -30%, darker: -50%, darkest: -70%));
$accent: (default: #00cbcf, variants: (light: 30%, dark: -30%));
$success: #3adb76;
$warning: #ffae00;
$alert: #cc4b37;
$gray: (default: #ccc, variants: (lightest: 70%, lighter: 50%, light: 30%, dark: -30%, darker: -50%, darkest: -70%));
$black: #0a0a0a;
$white: #fefefe;