$theme-mediumBreakpoint: 640;
$theme-largeBreakpoint: 1024;
$theme-xlargeBreakpoint: 1200;
$theme-xxlargeBreakpoint: 1440;

$theme-primary: #266093;
$theme-primary: #266093;
$theme-primaryVariants-lightest: 20%;
$theme-primaryVariants-lighter: #266093;
$theme-secondary: #1381b9;
$theme-success: #3adb76;
$theme-warning: #ffae00;
$theme-alert: #cc4b37;
$theme-lightGray: #e6e6e6;
$theme-mediumGray: #cacaca;
$theme-darkGray: #8a8a8a;
$theme-black: #0a0a0a;
$theme-white: #fefefe;

$theme-primaryFontFamily: "Lato", "Helvetica", "Arial", sans-serif;
$theme-secondaryFontFamily: "Lato", "Helvetica", "Arial", sans-serif;
