<div class="hero">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell medium-8">
        {% include 'components/navigation/breadcrumbs.twig' with breadcrumbs %}
        <h1>Title</h1>
      </div>
    </div>
  </div>
</div>
