{% set radioButtons = [
    {
      "label": "Text",
      "id": 0,
      "value": 0
    },
    {
      "label": "Text",
      "id": 1,
      "value": 1
    }
  ] %}
{% for button in radioButtons %}
  <div class="radio-button">
    <input id="donation_{{button.id}}" value="{{ button.value }}" type="radio" name="donation_amount">
    <label for="donation_{{button.id}}" class="button primary">{{ button.label }}</label>
  </div>
{% endfor %}
