
.table-scroll {
	width: 100%;
	margin-bottom: rem-calc(15);
  @include breakpoint(small only){
		padding-bottom: rem-calc(5);
		overflow-x: scroll;
		overflow-y: hidden;
		position: relative;
		max-width: none !important;
		table{
			min-width: 120%;
			margin-left: rem-calc(-1);
		}
		&-wrapper{
			position: relative;
			&:before, &:after{
				content: "";
				position: absolute;
			}
			&:after{
				width: rem-calc(35);
				height: 160%;
				background: radial-gradient(at right, rgba($medium-gray,0.4) 0%,  rgba($medium-gray,0) 50%);
				right: 0;
				top: -30%;
				opacity: 1;
				transition: 0.3s opacity;
				z-index: 1;
			}
			&:before{
				right: 0;
			}
			&.is-end{
				&:after{
					opacity: 0;
				}
			}
		}

		&:before, &-wrapper:before{

			top: 0;
			height: calc(100% - #{rem-calc(20)});
			background-color: $light-gray;
			z-index: 1;
			width: rem-calc(1);

		}
		&:before{
			left: 0;
			height: calc(100% - #{rem-calc(5)});
			content: "";
			position: absolute;
		}

  }
	@include breakpoint(large) {
		margin-bottom: rem-calc(40);
	}

	table {
		width: 100%;
		table-layout: fixed;
		margin-bottom: 0;

		// @include breakpoint(small only) {
		// 	width: 100%;
		// }
	}
}
