<section class="section bg-primary">
  <div class="grid-container">
    <h2>Section Primary</h2>
    <p>Summary</p>
  </div>
</section>
<section class="section bg-secondary">
  <div class="grid-container">
    <h2>Section Secondary</h2>
    <p>Summary</p>
  </div>
</section>
