<div class="l-wrapper">
  {% include "layout/00-wrapper/header.twig" %}
  <div class="l-main">
    {% block main %}
    {% endblock %}
  </div>
  {% include "layout/00-wrapper/footer.twig" %}

</div>
