<div  data-responsive-toggle="responsive-menu" data-hide-for="medium">
  {% include "components/misc/hamburger.twig" with {
    toggle: "responsive-menu"
  } %}
</div>

<div class="top-bar" id="responsive-menu" data-toggler=".is-active">
  <div class="top-bar-left">
    <ul class="vertical medium-horizontal menu top" data-responsive-menu="accordion medium-dropdown">
      <li>
        <a href="#">Item 1</a>
        <ul class="vertical menu">
          <li><a href="#">Item 1A</a></li>
          <li><a href="#">Item 1B</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Item 2</a>
        <ul class="vertical menu">
          <li><a href="#">Item 2A</a></li>
          <li><a href="#">Item 2B</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Item 3</a>
        <ul class="vertical menu">
          <li><a href="#">Item 3A</a></li>
          <li><a href="#">Item 3B</a></li>
        </ul>
      </li>
    </ul>

  </div>
</div>
