<div class="text">
	<p><a href="#">This is a text link</a>.</p>

	<p><strong>Strong is used to indicate strong importance</strong>.</p>

	<p><em>This text has added emphasis</em>.</p>

	<p><s>This text has a strikethrough</s>.</p>

	<p>Superscript<sup>®</sup>.</p>

	<p>Subscript for things like H<sub>2</sub>O.</p>

	<p><small>This small text is small for for fine print, etc.</small>.</p>

	<p>Abbreviation: <abbr title="HyperText Markup Language">HTML</abbr>.</p>



</div><!--end .text-->
