{% extends 'pages/_wrapper.twig' %}

{% block main %}
  {% include "components/containers/hero.twig" %}
  <section class="section">
    <div class="grid-container" id="content">
      <div class="grid-x grid-margin-x">
        <div class="cell medium-8">
          {% include 'global/elements/text/headings.twig' %}
          <h2>Heading 2</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis justo ac leo vestibulum cursus sit amet sit amet eros. Curabitur ante ex, consectetur quis felis at, aliquam sodales urna. Vivamus at hendrerit lacus, aliquet imperdiet quam. Nulla finibus hendrerit volutpat. Curabitur tempus leo ac ligula luctus, nec consequat velit pellentesque. Sed ornare leo finibus gravida vulputate. Cras varius sem sit amet tortor volutpat feugiat. Vivamus maximus hendrerit turpis non volutpat. Donec venenatis, enim eu accumsan venenatis, mauris lectus suscipit quam, sit amet feugiat mi lorem et augue.</p>
          <p>Vivamus maximus, sem nec mattis pretium, dolor dui egestas lectus, id viverra lorem diam ac sapien. Quisque id maximus eros. Vestibulum ut lorem ac ipsum luctus tincidunt. In facilisis venenatis lacus ac ultrices. Sed id enim sit amet lacus tempus porttitor quis ut ante. Mauris ac enim convallis, ornare nulla ut, mattis lectus. Quisque vitae maximus dui. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In est sem, imperdiet nec lacus quis, eleifend posuere purus. Mauris vestibulum, magna ac tempor lacinia, lacus turpis ultricies libero, bibendum congue quam est et metus. Curabitur vel sem vitae orci ornare tristique. Vestibulum in pulvinar risus. Sed tristique tempor lectus, vitae semper mauris accumsan sit amet. Phasellus varius eros ac nibh vulputate, ut mollis velit eleifend.</p>
          <h2>Heading 2</h2>
          <h3>Heading 3</h3>
          <p>Cras ipsum justo, sollicitudin sit amet egestas sit amet, hendrerit ac leo.</p>
          <a href="" class="button">Button</a>
          <h3>Heading 3</h3>
          <p>Morbi tellus velit, rutrum non turpis rutrum, condimentum pharetra felis. Praesent consequat convallis luctus</p>
          <a href="" class="button">Button</a>
          <h3>Heading 3</h3>
          <p>Praesent consequat convallis luctus. In volutpat tortor et purus commodo euismod. In vitae elit vel nibh imperdiet bibendum. Donec eget dui metus.</p>
          <a href="" class="button">Button</a>
          <h2>Heading 2</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis justo ac leo vestibulum cursus sit amet sit amet eros. Curabitur ante ex, consectetur quis felis at, aliquam sodales urna. Vivamus at hendrerit lacus, aliquet imperdiet quam. Nulla finibus hendrerit volutpat. Curabitur tempus leo ac ligula luctus, nec consequat velit pellentesque. Sed ornare leo finibus gravida vulputate. Cras varius sem sit amet tortor volutpat feugiat. Vivamus maximus hendrerit turpis non volutpat. Donec venenatis, enim eu accumsan venenatis, mauris lectus suscipit quam, sit amet feugiat mi lorem et augue.</p>
          <h3>Heading 3</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis justo ac leo vestibulum cursus sit amet sit amet eros. Curabitur ante ex, consectetur quis felis at, aliquam sodales urna. Vivamus at hendrerit lacus, aliquet imperdiet quam. Nulla finibus hendrerit volutpat. Curabitur tempus leo ac ligula luctus, nec consequat velit pellentesque. Sed ornare leo finibus gravida vulputate. Cras varius sem sit amet tortor volutpat feugiat. Vivamus maximus hendrerit turpis non volutpat. Donec venenatis, enim eu accumsan venenatis, mauris lectus suscipit quam, sit amet feugiat mi lorem et augue.</p>
          <h4>Heading 4</h4>
          <p>Cras ipsum justo, sollicitudin sit amet egestas sit amet, hendrerit ac leo. Ut eu tincidunt justo.</p>
          <h4>Heading 4</h4>
          <p>Ut eu tincidunt justo. Morbi tellus velit, rutrum non turpis rutrum, condimentum pharetra felis. Praesent consequat convallis luctus. In volutpat tortor et purus commodo euismod. In vitae elit vel nibh imperdiet bibendum. Donec eget dui metus. Praesent nunc ipsum, fringilla eget mollis ut, auctor ac mi. Quisque sollicitudin leo id odio feugiat molestie. Ut at ultricies ante. Aliquam erat volutpat. Suspendisse eu eleifend libero. Morbi at diam auctor, congue augue at, rhoncus risus. Aliquam pulvinar ac sapien eu cursus. Sed lorem libero, congue eget ligula eget, ultricies sollicitudin elit. Sed non leo vitae eros laoreet ornare.</p>
          <h5>Heading 5</h5>
          <p>Cras ipsum justo, sollicitudin sit amet egestas sit amet, hendrerit ac leo. Ut eu tincidunt justo. Morbi tellus velit, rutrum non turpis rutrum, condimentum pharetra felis. Praesent consequat convallis luctus. In volutpat tortor et purus commodo euismod. In vitae elit vel nibh imperdiet bibendum. Donec eget dui metus. Praesent nunc ipsum, fringilla eget mollis ut, auctor ac mi. Quisque sollicitudin leo id odio feugiat molestie. Ut at ultricies ante. Aliquam erat volutpat. Suspendisse eu eleifend libero. Morbi at diam auctor, congue augue at, rhoncus risus. Aliquam pulvinar ac sapien eu cursus. Sed lorem libero, congue eget ligula eget, ultricies sollicitudin elit. Sed non leo vitae eros laoreet ornare.</p>
          <h3>Heading 3</h3>
          <p>Cras ipsum justo, sollicitudin sit amet egestas sit amet, hendrerit ac leo. Ut eu tincidunt justo. Morbi tellus velit, rutrum non turpis rutrum, condimentum pharetra felis. Praesent consequat convallis luctus. In volutpat tortor et purus commodo euismod. In vitae elit vel nibh imperdiet bibendum. Donec eget dui metus. Praesent nunc ipsum, fringilla eget mollis ut, auctor ac mi. Quisque sollicitudin leo id odio feugiat molestie. Ut at ultricies ante. Aliquam erat volutpat. Suspendisse eu eleifend libero. Morbi at diam auctor, congue augue at, rhoncus risus. Aliquam pulvinar ac sapien eu cursus. Sed lorem libero, congue eget ligula eget, ultricies sollicitudin elit. Sed non leo vitae eros laoreet ornare.</p>
          <h2>Heading 2</h2>
          <p>Maecenas ac condimentum eros, id consequat eros. Fusce felis nunc, ultricies porttitor mauris eu, eleifend faucibus enim. In finibus eu enim quis iaculis. Fusce non consectetur libero, eu fermentum eros. Maecenas consectetur orci in tincidunt rutrum. Integer ullamcorper sapien id nisi venenatis, mattis eleifend diam scelerisque. Pellentesque pretium pulvinar tortor ac sollicitudin. Maecenas faucibus, erat eget finibus scelerisque, diam arcu eleifend augue, ac blandit erat nisi at magna. Maecenas malesuada et tellus et tincidunt. Morbi volutpat rhoncus sapien, id porttitor ligula convallis nec. Donec nec quam eget enim laoreet euismod. Suspendisse accumsan iaculis bibendum. Phasellus porta, sapien eget lacinia aliquam, lacus lacus convallis augue, eu tincidunt erat ante eu quam. Donec sagittis diam sed pellentesque dictum.</p>
          {% include 'global/elements/tables/table.twig' %}
          {% include 'global/elements/text/paragraph.twig' %}
          {% include 'global/elements/lists/unordered-list.twig' %}
          {% include 'global/elements/lists/ordered-list.twig' %}
          {% include 'global/elements/text/blockquote.twig' %}
          {% include 'components/inline/read-more.twig' with {
            "readMore": {
              "url": "#",
              "text": "Read More"
            }
          }
          %}
          <p>Etiam condimentum varius arcu vel aliquet. Nulla sed dolor non dui pulvinar euismod. Aliquam sit amet est ac augue ornare hendrerit in eget massa. Vivamus eget accumsan nisi. Morbi non aliquet massa. Fusce laoreet tincidunt enim. Curabitur quam enim, tempus feugiat fringilla non, fermentum vel nulla. Vestibulum placerat felis augue. Mauris eget nisi id lorem iaculis dapibus.</p>
        </div>
        <div class="cell medium-4">
          <div data-sticky data-anchor="content" data-sticky-on="large">
            {% include "components/teasers/card.twig" %}
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
