<header class="l-header">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-middle">
      <div class="cell medium-4">Header</div>
      <div class="cell medium-7">
        {% include 'components/navigation/menu.twig' %}
      </div>
      <div class="cell medium-1">
        <button data-toggle="search-form search-toggle" data-toggler="is-active" id="search-toggle" class="search-toggle">
          <span class="show-for-sr">Search</span>
          <span class="icon-search"></span>
        </button>
        <div id="search-form" data-toggler=".hide" class="hide search-form">
          {% include 'components/misc/simple-form.twig' %}
        </div>
      </div>
    </div>
  </div>
</header>
