<h2>Video Background</h2>
<div class="video-wrapper" data-video-trigger="background" style="height: 800px;">
  <div class="video-loader">
    {% include 'components/misc/loader.twig' %}
  </div>
  <div class="video-container">
    <div class="youtube-player" data-youtube-id="8AE3_AJ9o2A"></div>
  </div>
</div>
<div class="grid-container">
  <h2>Click Trigger</h2>
  <div class="video-wrapper" data-video-trigger="click">
    <div class="video-loader">
      {% include 'components/misc/loader.twig' %}
    </div>
    <div class="video-image-wrapper">
      <img src="//via.placeholder.com/1777x1000" alt="" class="video-image">
    </div>
    <div class="video-container">
      <div class="youtube-wrapper">
        <div class="youtube-player" data-youtube-id="gJ6APKIjFQY"></div>
      </div>
    </div>
  </div>

  <h2>Scroll Trigger</h2>
  <div class="video-wrapper" data-video-trigger="scroll">
    <div class="video-loader">
      {% include 'components/misc/loader.twig' %}
    </div>
    <div class="video-image-wrapper">
      <img src="//via.placeholder.com/1777x1000" alt="" class="video-image">
    </div>
    <div class="video-container">
      <div class="youtube-wrapper">
        <div class="youtube-player" data-youtube-id="gJ6APKIjFQY"></div>
      </div>

    </div>
  </div>

</div>
